@page "/studentdata"
@using Formtask.Data
@using Formtask.Model

@inject DataDbContext _db

<PageTitle>Index</PageTitle>


<EditForm Model="@student" OnValidSubmit="@HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <label for="name">Name:</label>
    <InputText id="name" @bind-Value="student.Sname" class="form-control" />
    <br />
    <label for="major">Major:</label>
    <InputText id="major" @bind-Value="student.Major" class="form-control" />
    <button type="submit">Submit</button>
</EditForm>

<table>
    <tbody>
        @foreach (var Std in students)
        {
            <tr>
                <td>@Std.Sname</td>
                <td>@Std.Major</td>
            </tr>
        }
    </tbody>
</table>


@code {
    Student student = new Student();

    List<Student> students = new List<Student>();
 
    protected override void OnInitialized()
    {
        students = _db.Student.ToList();
    }

    void HandleSubmit()
    {
        _db.Student.Add(student);
        _db.SaveChanges();
        
    }
}